
.cubic-partition{
    width: 600px;
    border: 1px solid black;
    background: burlywood;
}
.line-one, .line-two, .line-three, .line-four{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 20px;
    /* border: 1px solid black; */
    background: burlywood;
}

.red-side, .green-side, .white-side, .blue-side, .orange-side, .yellow-side{
    width: 30%;
    height: 90%;
    border: 1px solid black;
    background: burlywood;
    border-radius: 10px; 
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.red-block, .green-block, .white-block, .blue-block, .orange-block, .yellow-block{
    
    width: 28%;
    height: 28%;
    border: 1px solid black;
}